{% load template_extras %}
<div class="panel panel-default">
  <div class="panel-body">
    <strong>{{ book_name }}</strong> {% link_to book.get_absolute_url "View Details" class='btn btn-info' style='float:right' %}</div>
</div>