{% extends 'base.html' %}
{% load template_extras %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h2>{{book.name}}</h2></div>
  <div class="panel-body">
    <p><b>Author: {{book.author}}</b></p>
    {% lorem 2 p %}
    
    {% url_as_template_var 'books' as books_url %}
    {% link_to books_url 'Back' class='btn btn-info' %}
  </div>
</div>
{% endblock %}