{% extends 'base.html' %}
{% load book_extras %}
{% block content %}
<h1>Books Available</h1>
<p>There are {% get_books_count books %} books available</p>
{% for book in books %}
    {% render_book_list_item %}
{% endfor %}

{% endblock %}